@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  color: $black;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variant-numeric: lining-nums proportional-nums;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  background-color: $white;

  &.active {
    @include tablet {
      overflow: hidden;
    }
  }
}

a,
button,
input,
textarea {
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
}

figure {
  margin: 0;
}

.h2 {
  margin: 0 0 28px;
  color: $black;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  @include tablet {
    margin: 0 0 10px;
    font-size: 28px;
  }
}

.text {
  color: $black;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;

  @include tablet {
    font-size: 16px;
    line-height: 140%;
  }
}
