.geography {
  min-height: 520px;

  @include tablet {
    min-height: auto;
  }

  &__title {
    position: relative;
    z-index: 2;
    max-width: 480px;
  }

  &__description {
    position: relative;
    z-index: 2;
    max-width: 380px;
    margin: 0;
  }

  &__map {
    position: absolute;
    right: 0;
    top: -50px;
    z-index: 1;
    display: flex;
    justify-content: flex-end;

    @include desktop {
      top: 40px;
      right: -20px;
    }

    @include laptop {
      top: -50px;
    }

    @include tablet {
      position: static;
      margin-right: -20px;
      margin-top: -40px;
    }

    &-image {
      display: block;
      max-height: 560px;
      width: auto;

      @include desktop {
        max-height: 400px;
      }

      @include laptop {
        max-height: 560px;
      }

      @include tablet {
        max-height: 480px;
      }

      @include mobile {
        max-height: none;
        width: calc(100% + 20px);
        height: auto;
      }
    }
  }
}
