.button {
  padding: 10px 20px;
  color: $black;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 8px;
  border: 4px solid $accent;
  outline: 1px solid rgba($color: $accent, $alpha: 0.25);
  background-color: $white;
  transition: $baseTransition;
  cursor: pointer;

  &:hover {
    background-color: $accent;
  }

  &:active {
    border-color: #d7ff39;
    background-color: #d7ff39;
  }

  &_burger {
    height: 24px;
    width: 24px;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    outline: none;
    background: url(../assets/menu-burger.svg) center no-repeat;

    &:hover {
      border: none;
      background-color: rgba($color: #000000, $alpha: 0);
    }
  
    &:active {
      border: none;
      background-color: rgba($color: #000000, $alpha: 0);
    }

    &.active {
      background-image: url(../assets/menu-burger-close.svg);
    }
  }
}
