.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 240px);

  @include laptop {
    min-height: auto;
  }

  &__menu {
    padding: 20px 20px 20px 10px;
    margin-bottom: 40px;
    border-radius: 8px;
    background: $white;
    box-shadow: 0 0 40px rgba($color: $black, $alpha: 0.1);

    @include laptop {
      display: none;
    }

    @include tablet {
      position: fixed;
      z-index: 50;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      max-height: 100vh;
      padding: 180px 20px 84px;
      margin: 0;
      overflow: auto;
      background-color: $white;
      transition: transform ease-in-out 0.4s;
      transform: translateY(-200vh);
    }

    @include mobilesm {
      padding: 200px 20px 84px;
    }

    &.active {
      @include tablet {
        transform: translateY(0);
      }
    }

    &-title {
      margin: 0 0 16px;
      color: $black;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 160%;

      @include tablet {
        display: none;
      }
    }

    &-list {
      max-height: calc(100vh - 240px);
      overflow-x: hidden;
      overflow-y: auto;
      padding: 0;
      margin: 0;
      list-style-type: none;

      @include tablet {
        max-height: none;
        overflow: auto;
      }

      &_submenu {
        display: none;
        margin-top: 10px;
      }

      &-item {
        margin: 0 0 10px;
        color: $black;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;

        & a,
        & span {
          color: $black;
          user-select: none;
          opacity: 0.6;
        }

        &-toggler {
          cursor: pointer;
        }

        &.active > &-toggler {
          font-weight: 500;
          opacity: 1;
        }
      }
    }

    &-list-item > &-list_submenu {
      padding-left: 16px;
    }

    &-list-item.active > &-list_submenu {
      display: block;
    }
  }

  &__controls {
    @include tablet {
      position: fixed;
      bottom: 80px;
      left: 0;
      right: 0;
      z-index: 10;
      padding: 0 20px;
    }


    &-title {
      margin: 0 0 20px;
      color: $black;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;

      @include laptop {
        display: none;
      }
    }

    &-buttons {
      display: flex;
      flex-direction: column;
      gap: 10px;

      @include laptop {
        flex-direction: row;
        flex-wrap: wrap;
      }

      & .button {
        @include laptop {
          flex: 1 1 150px;
        }
      }
    }
  }
}
